body {
    font-family: 'Prompt', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(img/1.jpg);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    background-color: #cfcfcf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.screen {
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

.screen span {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.key {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    background-color: #ffad16;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
}

.key:hover {
    background-color: #ddd;
}

.digits {
    grid-template-columns: repeat(3, 1fr);
}

.operation {
    background-color: #000000;
    color: white;
}

.result {
    background-color: #ff0000;
    color: white;
}

.operation:hover, .bracket:hover, .result:hover, .clear:hover {
    background-color: #e4e4e4;
}

.trigonometry {
    background-color: #0115fb;
    color: white;
}

.timedisplay {
    width: 350px;
    height: 30px;
    margin: 5px;
    border: none;
    text-align: center;
    border-radius: 15px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.2em;
}
